@media screen and (max-width: 576px) {
    .container {
        max-width: 90%;
    }
    .logo-brand h1 {
        line-height: 37px;
    }
    .logo-brand h1 a {
        font-size: 21px;
    }
    .mobile-menu-bar{
        display: block;
    }
    .menu-items{
        display: none;
    }
    /* Banner section */
    .banner-section {
        flex-direction: column-reverse;
    }
    .banner-img {
        width: 100%;
        text-align: center;
        background: url(../images/Circle\ design.svg) no-repeat center center;
        margin-bottom: 40px;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-content h1 {
        font-size: 28px;
    }
    .banner-content p {
        font-size: 14px;
    }
    .banner-img img {
        width: 100%;
    }
    /* Branding Section */
    .brand-box-wrap {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .brand-box-wrap img{
        width: 100%;
    }
    /* PoPular Section responsive */
        .popular-items-wrap {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
    .popular-item img {
        width: 100%;
    }
    /* Feature section */
        .feature-product-section {
        padding: 26px 0 50px 0;
    }
    .feature-content-wrap {
        flex-direction: column;
    }
    .feature-image img{
        width: 100%;
    }
    .feature-content h1 {
        font-size: 28px;
    }
    .feature-content p {
        font-weight: 500;
        width: 100%;
    }
    /* footer section */
    .footer-content-box {
        width: 100%;
    }
}